<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	<h1>Whoops!</h1>
	<p>We're currently going through some maintenance, we'll be back soon</p>

	{{> footer}}
</body>
</html>